body {
    background: #F5F5F5
}

.my_info {
    margin-top: 50px;
    background: #fff;
    width: 100%;
    padding-bottom: 40px;
    border-radius: 10px;
    border: 1px solid #ddd
}

.my_info .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 22px 13px 0 0;
}

.my_info .title h1 {
    font-size: 20px;
    font-weight: bold;
}

.my_info .lists ul {
    padding: 0 9px;
}

.my_info .lists ul li {
    list-style: none;
    border: 1px solid #d0d0d0;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    padding: 13px 18px;
    border-radius: 5px;
    margin: 8px 0;
    font-weight: 400;
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    transition: border 500ms ease-out;
    cursor: pointer;
}

.my_info .lists ul li:hover {
    border: 1px solid #777;
}

.my_info .lists ul li h4 {
    font-size: 16px;
}