/* global for switch button */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #8FD369;
}

input:focus+.slider {
    box-shadow: 0 0 1px #8FD369;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.num {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}


/* global */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.rulling {
    margin-top: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.rulling .title {}

.rulling .f-title h1 {
    font-size: 15px;
}

.rulling .s-title {
    font-size: 15px;
    background: #F5F5F5;
}

.rulling .blocks .block {
    border: 1px solid #D0D0D0;
    border-radius: 5px;
}

.rulling .blocks .block li {
    padding: 14px 18px 4px;
}

.rulling .blocks .block h3 {
    font-size: 16px;
}